.topbar{
    display: flex;
    justify-content: center;   
    align-items: center;
    width: 100%;
    /* margin: 20px 0; */
    position: sticky;
    top: 0;
    z-index: 10;
    /* padding-bottom: 20px; */
    background-color: white;
   

  }

  .inner_topbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    border-bottom: 1px solid #e9eaeb;
    height: 60px;
  }

  .home_topbar{
    position: sticky;
    top: 0;
  }

  .top_left{
    display: flex;
    align-items: center;
  }

  .logo{
    font-size: 30px;
    width: 100px;
    color: blue;
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 7px;
    

    
  }

  .logo img{width: 100%;}

  .logo a{
    text-decoration: none;
    color: blue;
  }

  .top_left span{
    font-weight: 300;
  }

  .top_right{
    display: flex;
    align-items: center;
  }
  
  .top_right a{
    color: blue;
   
    

    
 
  }
  
  .top_btn{
    border: none;
    color: blue;
    cursor: pointer;
    background: transparent;
    font-size: 16px;
    font-weight: 500;
    margin: 10px;

   
   
    
  }

  .humbug{
    position: relative;
    display: none;
  }

  .humbug_menu{
    position: absolute;
  }

  .humbug_menu{
    width: 300px;
    background: rgb(145, 145, 247);
    min-height: calc(100vh - 100px);
    right:-10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50px;
    border: 1px solid #d1d2d3;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  }

  .humbug button{
    border: none;
    background: transparent;
  }

  .humbug svg{
    font-size: 30px;
  }

  .humbug_menu button{
    text-align: left;
    margin: 10px;
    color: white;
    padding: 10px;
    font-size: 20px;
    /* border-bottom: 1px solid white; */
  }

  .username_wrapper{
    display: flex;
    flex-direction: column;
    position: relative;
  }

  .username{
    width: 30px;
    height: 30px;
    background: blue;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    margin-right: 10px;
    cursor: pointer;
  }



  .menu_toggle{
    position: absolute;
    background: white;
    padding: 20px;
    right: 0px;
    top: 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    overflow: hidden;
  }

  .menu_toggle span{
    cursor: pointer;
   
  }

  .menu_toggle span:hover{

    color: blue;
  }

  .photo_url{
    width: 30px !important;
    cursor: pointer;
  }

  .photo_url img{
    width: 100%;
    border-radius: 50%;
  }

  /* .humbug_menu button:not(:last-of-type){
    border-bottom: 1px solid white;
  } */


  @media screen and (max-width: 920px){
    .top_btn{
      display: none;
    }
    .inner_topbar{     
      width: 90%;
     
    }
    .humbug{

      display: block;
    }

    .humbug_menu{
     
      height:100%;
      
    }
    /* .top_logout{
      background-color: white;
      color: blue !important;
    } */
  }