.account__container{
    display: flex;
    width: 90%;
    flex-direction: column;
    min-height: calc(100vh - 120px);
    margin-top:10px;
    
}



.account_sidebar{
    width: 250px;
    min-width: 250px;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
    border-radius: 15px;
    overflow: hidden;
    position: sticky;
    top: 60px;
    height: fit-content;
    border-bottom: 1px solid rgb(173, 172, 172);
    

}

.dash__home{
    display: flex;
    align-items: center;
}

.dash__home svg{
    color: blue;
    margin-left: 5px;
    font-size: 25px;
    margin-top: 5px;
    cursor: pointer;
}

.dash__home svg:hover{
    transform: scale(1.05);
}



.account_btn{
    padding:20px 15px;
  
    cursor: pointer;
    border: none;
    font-size: 16px;
    text-align: left;
    display: flex;
    align-items: center;
 
}

.active_btn{
    padding:20px 15px;
    /* background: white; */
    cursor: pointer;
    border: none;
    font-size: 18px;
    text-align: left;
    display: flex;
    align-items: center;
    background:rgb(231, 231, 255) ;
    font-weight: 600;
    border-bottom: 1px solid rgb(173, 172, 172);
}

.account_btn:hover{
    background: #e3e3e4;
}

.account_btn svg{
    margin-right: 10px;

}

.active_btn svg{
    margin-right: 15px;
}

.account_btn:not(:last-of-type){
    border-bottom: 1px solid rgb(173, 172, 172);
}

.account_body{
    /* width: calc(100vw - 410px); */
    width: 100%;
    background:rgb(231, 231, 255) ;
    padding: 20px;
    min-height: calc(100vh - 350px);

    position: relative;
    
    /* border: 1px solid rgb(201, 199, 199); */
}

.billing__invo1{
    display: flex;
    justify-content: space-between;
}





.dashboard{
    display: flex;
    flex-direction: column;
 
}

.dash_body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: 100%;
}

.dash_body_inner{
    /* border: 1px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.inner__1 h3{
    margin-bottom: 10px;
}

.inner__1 span{
    color: blue;
}

.dashboard h3{
    color: blue;
    font-weight: 400;
    font-size: 15px;
}

.dashboard h1{
    color: #cccccc;
    font-weight: 800;
}



.dashbord_top{
    display: flex;
    justify-content: space-between;
    padding: 50px 20px;
    background: #f6f6f6;
}

.dash_body_cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, 150px);
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 20px;
    /* border: 1px solid red; */
    width: 100%;

}

.card_grid{
    background-color: white;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    padding-top: 60px;
    
    border-radius: 5px;
}

.survey_card{
    background-color: white;
    /* height: 200px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    /* padding-top: 60px; */
    margin-top: 15px;
    border-radius: 5px;
}

.inner__title_1{
    color: blue;
}

.survey_card span{
    padding: 15px;
}

.survey_card span:not(:last-of-type){
    border-right: 1px solid rgb(190, 190, 190);
}

.dash_title{
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
}

.dash_right{
    display: flex;
    flex-direction: column;
}

.unpaid_invoice{
    color: red;
    margin-top: 5px;
    cursor: pointer;
}

.unpaid_invoice:hover{
    text-decoration: underline;
}

.dash_title small{
    color: blue;

}

.dash_title h6{
    font-size: 15px;
    font-weight: bold;
}

.dash_span{
    display: flex;
}

.dash_span h2{
    font-weight: 300;
}

.dash_span h4{
   color: blue;
   height: 50px;
   border-bottom: 1px solid gainsboro;
   margin-bottom: 10px;
}

/* .dash_h{
    margin-top: 20px;
} */

.dash_title h4{
    display: block;
    width: 80%;
    font-weight: 600;
    margin: 7px 0;
    color: rgb(104, 104, 104);
}

.card_grid svg{
    font-size: 25px;
    color: blue;
    margin-bottom: 10px;
   
}

.btn_create{
    padding: 13px 17px;
    background: blue;
    color: white;
    margin: 0 auto;
    width: fit-content;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

}

.card_grid h4{
    font-weight: 300;
}

.inner__inner{
    border: 1px solid red;
}

.card{
    /* width: 300px; */
    height: 400px;
   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 15px;
    background: white;
}

.card svg{
    font-size: 60px;
    margin-bottom: 20px;
}

.card:hover{
    background: #e3e3e4;
}

.card h1{
    color: #c1c2c3;
    font-size: 40px;
    margin-bottom: 10px;
}

.card h3{
    color: blue;
    font-weight: 400;
}

.analysis_card{
    /* width: 450px; */
    padding: 20px;
    background: white;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.analysis{
    display: grid;
    grid-template-columns: repeat(auto-fit, 450px);
    gap: 10px;
    justify-content: center;
    margin: 20px;
    padding: 10px;
}

.analysis_title{
    font-size: 25px;
    margin: 25px 0;
    margin-left: 10px;
    color: blue;
}


.bill_inner{
    display: flex;
    flex-direction: column;
    width: 100%;
    /* max-width: calc(100vw - 200px); */
     border: 1px solid rgb(201, 199, 199);
     /* max-width: 500px; */
}

.bill_inner h4{
    font-weight: 400;
    color: #c1c2c3;
}

.bill_top{
    background: blue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    /* height: 150px; */
    color: white;
   
}

.bill_right{
    text-align: right;
}

.bill_body{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
    /* min-height: calc(100vh - 270px); */
}

.bill_body_right{
    width: 300px;
}

.right_inner{
    /* margin: 10px 0; */
    text-align: right;
    padding: 15px;
}

.right_inner h1{
    font-weight: 400;
}

.right_inner label{
    color: blue;
    font-weight: 600;
}

.table{
    padding: 10px;
}

.table  tr, th{
    padding: 10px;
}
.table td, tr, th{
    padding: 20px;
}

.table th{
    color: blue;
}

.table .tra{
    border: 1px solid red;
    border-top: 1px solid #c1c2c3;
    
}


.descr{
    text-align: left;
    border-bottom: 1px solid #c1c2c3;
}

.qty{
    text-align: center;
    border-bottom: 1px solid #c1c2c3;
  
}

.total{
    border-bottom: 1px solid #c1c2c3;
}

.bill_btn{
   
    /* margin-top: 20px; */
    margin-left: 20px;
    /* text-align: center; */
}

.how_works{
    min-height: calc(100vh - 100px);
    background: white;
    border: none;
    width: 60%;
    padding: 20px 0;
   
}

.how_inner{
     margin-bottom: 20px;
}

.works_title{
 
    text-align: center;
    padding: 40px;
    font-size: 45px;
    background: rgb(216, 216, 255);
}

.works_body{
    margin: 30px 0;
}

.works_body p{
    font-size: 18px;
    line-height: 1.5;
    margin-top: 10px;
}
.menu__user{
    display: none;
    justify-content: space-between;
    align-items: center;
    background: blue;
    color: white;
    font-size: 18px;
    padding: 10px;
} 

.menu_btn{   
    border: none;
    background: transparent;    
    display: none;
    color: white;
    font-size: 18px;
    align-items: center;
    /* border: 1px solid red; */
}

.menu_btn svg{
    padding-top: 4px;
}

.share_inner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100%;
    
}

.share_inner h2{
    margin-bottom: 20px;
}

.shared_icons{
    display: flex;
    justify-content: center;
    gap: 10px;
}


.user_table{
    width: 100%;
    border-collapse: collapse;
}

.user_table td, .user_table th{
    padding: 12px 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 14px;
}

.user_table th{
    background-color: blue;
    color: white;
}

.user_table tbody tr:nth-child(even){
    background-color: #f5f5f5;
}

.bill_left img{
    width: 50px;
}

/* .invoice{
    max-width: 1000px;
    overflow: hidden;
} */


.invoice_cls_btn{
    position: absolute;
    right: 10px;
    top: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.no_survey_wrapper{
    display: flex;
    flex-direction: column;
    justify-content:center;
   
    gap: 20px;

}

.no_btn{
   
    text-align: center;
}

.showUp{
    margin-top: 0;
    animation: menuUp 0.5s;
    opacity: 1;
}

@keyframes menuUp{
    0%{
        margin-top: -500px;
        opacity: 0;
    }
    100%{
        margin-top: 0;
        opacity: 1;
    }
}

/* .element_single span{
    display: none;
} */

/* input:invalid[focused='false']{
    
} */


input:invalid[focused='true'] ~ span{
    display:block;
}

input:invalid[focused='true']{
    border: 1px solid red;
}


.invoice_create{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 90%;
    height: fit-content;
    background: white;
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
}

.inner__create{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 18px;
    position: relative;
}

.invoice__btn{
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    background: rgb(242, 117, 117);
    border: none;
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.invoice__btn:hover{
    background: red;
    /* color: black; */
}

.invoice__btn2{
    position: absolute;
    top: 10px;
    right: 10px;
    background: #f1f2f3;
    /* color: transparent; */
    border: none;
    cursor: pointer;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash_body_inner{
    display: flex;
    /* justify-content: center; */
    width: 100%;
    height: 100%;
    /* align-items: center; */
}

.inner__1{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.invoice__btn2:hover{
    background: #e1e2e3;
    color: black;
}

.invoice_input{
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
}

.invoice_input input, .invoice_input select{
    width: 100%;
    padding: 5px;
    margin-top: 3px;
    height: 30px;
}

.bill_to{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dont_hv{
    display: flex;
    justify-content: center;
    font-size: 22px;
    font-weight: bold;
    padding-top: 20px;
}

.message_alert{
    position: fixed;
    right: 20px;
    top: 20px;
    padding: 6px 20px;
    background-color: #e4e4ff;
    border-left: 4px solid blue;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    animation: message 0.5s;
    opacity: 1;
    max-width: 450px;
}

.subscrip{
    background-color: #e4e4ff;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub_wrapper{
    width: 60%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
   
}

.sub_wrapper small{
    color: blue;
}

.sub_wrapper h2{
    line-height: 1.5;
}

.subscrip_btn{
    margin-top: 20px;
}

.btn{
    padding: 8px 14px;
    background-color: transparent;
    border: 1px solid blue;
    cursor: pointer;
    margin: 5px;
    color: blue;
}

@keyframes message{
    0%{
        right: -500px;
        opacity: 0;
    }
    100%{
        right: 20px;
        opacity: 1;
    }
}

.bill_body_left{
    width: 100%;
}


.receipt_wrapper{
    width: 595px;
    height: 842px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.receipt_info span{
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    font-size: 10px;
    width: 110px;
}

.slogan{
    font-style: italic;
    color: blue;
    font-size: 9px;
    
}

.payment_method{
    margin: 50px 0;
}

.payment_method h4{
    color: #9c9d9e;
    font-size: 13px;
}

.form_clm{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    padding: 10px 0;
    /* height: 300px; */
}

.form_clm span{
    text-align: left;
    margin-top: 5px;
}

.receivedFrm{
    color: blue;
    font-weight: 900;
    font-size: 30px;
    font-size: 20px;
}

.payment_method small{
    font-size: 11px;
}

.receipt_info small{
    display: flex;
    justify-content: space-between;
    font-weight: 400;
}

.rec_tp{
    display: flex;
    justify-content: space-between;
    margin-bottom: 6px;
}

.comp_info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.comp_logo{
    width: 60px;
}

.comp_logo img{
    width: 100%;
    border: 1px solid #d4d4ff;
    padding: 0;
    margin: 0;
}


.receipt_info{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.sub_total{
    float: right;
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    font-size: 18px;
}



.sub_total h6, .small_pdf{
    display: flex;
    justify-content: space-between;
}

.small_pdf{
    font-size: 9px;
}

.gandTotal{
    background-color: blue;
    color: white;
    
    padding: 5px;
}

.gandTotal h3{
    display: flex;
    justify-content: space-between;
}

.form_clm div{
    color: blue;
    font-weight: 600;
    /* font-style: italic; */
}

.table_info{
    margin: 10px 0;
}

.table1{
    width: 100%;
    border-collapse: collapse;
    font-size: 9px;

    margin: 0 auto;
    transition: all 0.8s ease;
}

.table1 td, .table th{
    padding: 10px;
    border: 1px solid #ddd;
    /* color: #5e5e5e; */
    text-align: center;
    
}

.pdf_wrapper{
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cancel{
    background-color: red;
    border: none;
    padding: 3px 10px;
    height: 30px;
    color: white;
    cursor: pointer;
}

.table1 th{
    background-color: blue;
    color: white;
}

.table1 tr{
    transition: all 0.8s ease;
}

.table1 tbody tr:nth-child(even){
    background-color: white;
    /* box-shadow: 1px 2px 5px #dadbdb; */
}

.receipt_footer{
    /* border: 1px solid red; */
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    bottom: 20px;
    width: 595px;
    left: 50%;
    transform: translateX(-50%);
}

.company_details{
    display: flex;
    font-size: 9px;
    gap: 10px;
    color: blue;
    margin-top: 2px;
}

@media screen and (max-width:920px){
    
    .user_table thead{
        display: none;
    }

    .user_table, .user_table tbody, .user_table tr, .user_table td{
        display: block;
        width: 100%;
    }

    .user_table tr{
        margin-bottom: 15px;
    }

    .user_table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .user_table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
        font-weight: bold;
    }
}




@media screen and (max-width: 420px){
    .how_works{
       
        width: 100%;
        /* padding: 10px; */
       
    }

    .works_inner{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
        margin: 0 auto;
    }

    .account__container{      
        width: 100%;
        flex-direction: column;
        margin-top:0px;
        height: 100%;
        background-color: #e4e4ff;
        
    }

    .account_sidebar{
        width: 100%;
        display: flex;
        flex-direction: column;
        margin-right: 20px;
        border-radius: 0px;
        overflow: hidden;
        position: sticky;
        top: 60px;
        /* height: 650px; */
        border-bottom: 1px solid rgb(173, 172, 172);

    
    }

    .account_body{
        width: 100%;
        /* background:rgb(231, 231, 255) ; */
        padding: 10px;
        /* border: 1px solid rgb(201, 199, 199); */
        /* min-height:calc(100% - 60px); */
        /* min-height:100%; */
    }

    .dashbord_title{
        display: block;
        width: 100%;
        /* box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px; */
        padding: 10px;
        border-bottom: 1px solid #dadbdb;
        /* color: white; */
        font-size: 25px;
        text-align: center;
        justify-items: center;
    }

    .menu__user{
        display: flex;
        
    }

    .card{
        width: 300px;
        height: 200px;
        
    }

    .card svg{
        font-size: 40px;
        margin-bottom: 20px;
    }

    .bill_body{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        background: white;
        min-height: calc(100vh - 330px);
    }

    .right_inner{
        /* margin: 10px 0; */
        text-align: center;
        /* padding: 15px; */
    }
    .menu_btn{
       
        display: block;
    }

    .hide_menu{
        display: none;
    }

    .share_inner h2{
        margin-bottom: 20px;
        text-align: center;
    }

    .analysis{
        display: grid;
        grid-template-columns: repeat(auto-fit, 350px);
       
    }

    .analysis_card{
        /* width: 450px; */
        padding: 10px;
        background: white;
        border-radius: 2px;
    
      
    }

    .user_table thead{
        display: none;
    }

    .user_table, .user_table tbody, .user_table tr, .user_table td{
        display: block;
        width: 100%;
    }

    .user_table tr{
        margin-bottom: 15px;
    }

    .user_table td{
        text-align: right;
        padding-left: 50%;
        position: relative;
    }

    .user_table td::before{
        content: attr(data-label);
        position: absolute;
        left: 0;
        width: 50%;
        padding-left: 15px;
        text-align: left;
        font-weight: bold;
    }

    .invoice_cls_btn{
      
        right: 20px;
        top: 20px;
       
    }

    .bill_btn{
   
        margin-top: 20px;
        margin-left: 20px;
        text-align: center;
    }

    .survey_wrapper5{
        padding: 0px !important;
    }

    .survey_card span{
        display: flex !important;
        justify-content: space-between;
        width: 100% !important;
        padding: 2px;
        align-items: center !important;
        border-bottom: 1px solid #c1c2c3 !important;
    
    }

    .dash_span h4{
        border: none;
        display: flex;
        align-items: center;

    }
    .dash_title{
        border-bottom: 1px solid #c1c2c3 !important;
    }

    .sub_wrapper{
        width: 100%;
        padding: 15px;
        
        /* margin: 0 auto;
        text-align: center;
        display: flex;
        flex-direction: column; */
       
    }

    .sub_wrapper h2{
        font-weight: 400;
    }

    .receipt_wrapper{
        width: 100%;
        padding: 15px;
    }
    
    

    
}